@model Boker.Models.MyLib

@{
    ViewData["Title"] = "Edytuj";
}

<h1>Edytuj szczegóły</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFavorite" /> Ulubione
                </label>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label">Użytkownik</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartedReading" class="control-label">Początek czytania</label>
                <input asp-for="StartedReading" class="form-control" />
                <span asp-validation-for="StartedReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedReading" class="control-label">Koniec czytania</label>
                <input asp-for="FinishedReading" class="form-control" />
                <span asp-validation-for="FinishedReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notatki</label>
                <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
