@{
    ViewData["Title"] = "Strona główna";
}

<div class="main-description kolor">
    <h1>Witaj w BØKER - Twojej księgarni internetowej!</h1>
    <p>
        BØKER to miejsce, gdzie użytkownicy mogą odkrywać, dodawać i recenzować książki.
        Możesz zarządzać swoją własną biblioteką, dodawać recenzje i wiele więcej!
    </p>
</div>
