@model IEnumerable<Boker.Models.BookType>

@{
    ViewData["Title"] = "Gatunek";
}

<h1>Gatunek książki</h1>

<p>
    <a class="custom-button2" asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa gatunku
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="custom-button3 pastel-blue" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                    <a class="custom-button3 pastel-pink" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
